
<html>
    <head>
        <title>Santiago Aguilar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/app.css">

        <style>
                /* Make the image fully responsive */
                .carousel-inner img {
                    width: 100%;
                    height: 100%;
                }
                </style>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
            
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">SA</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                      <ul class="navbar-nav mx-auto">
                        <li class="nav-item ">
                          <a class="nav-link" id="connect_home" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" id="connect_about" href="#about"  >About Me</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" id="connect_skills" href="#skills" >Skills</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" id="connect_projects" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" id="connect_experience" href="#experience" >Experience</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" id="connect_extra" href="#extra" >Soccer</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="connect_link" href="#connect">Connect</a>
                        </li>
                        
                       
                      </ul>
                      
                    </div>
                  </nav>
    <section class="welcome" id="home">
    <div class="container mt-5">
        <div class="row align-items-center ">
            <div class="col mt-5 ">
                    <h1 class=" text-center light  ">Santiago        Aguilar</h1>
                     <!--<img src="https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1393&q=80" class="img-fluid" alt="Responsive image"> -->

            </div>
        </div>
    </div>
    </section>
    <section id="about" class="-back">
    <div class="container">
        <div class="row">
            <div class="col header-text"> 
                    <h2 class="text-center">About Me</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <p class="text-center mb-5">
                    Hi, my name is Santiago Aguilar. I'm studying Computer Engineering at the University of Waterloo. 
                    I am a passionate learner and diligent worker. This passion and diligence are what drive all aspects
                    of my life and are what are guiding in my journey towards becoming a software developer.          
                    
                </p>
                
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <img src="/images/santi.jpg" class="circle mx-auto" alt="Avatar">
        </div>
    </div>
    </section>
    <section id="skills" class="-back">
    <div class="container-fluid ">
        <div class="row">
            <div class="col header-text">
                    <h2 class="text-center">Skills</h2>
            </div>
        </div>
        <div class="row mx-auto">
                <div class="col-2"></div>
                <div class="col px-auto mx-auto">
                        <img src="/images/wordcloud.svg" class="cloud mx-auto  " alt="">
                        <!--<p class="text-center">In a vulputate nulla, non porttitor nunc. Morbi ligula odio, fringilla id pharetra at, </p>-->
                        <!--faucibus vitae purus. Nunc nunc odio, posuere eget dui sed, bibendum accumsan urna. Ut at leo quis purus fermentum bibendum pretium vel risus. Curabitur bibendum velit sed pulvinar volutpat. Nulla mollis risus et sem lacinia euismod. Praesent vehicula, urna et sollicitudin pellentesque, arcu odio posuere lectus, vitae consectetur metus est id metus. Donec pharetra vel arcu ut maximus. Vestibulum quis ipsum at erat commodo lobortis in eget leo. In ipsum erat, viverra non sem at, condimentum elementum metus. Praesent sagittis sed mi ut scelerisque.</p>-->
                        <!--<img class="text-center mx-auto" src="https://images.unsplash.com/photo-1554166693-4518329faec1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">-->
                </div>
                
                <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col text-center -back "> 
                <p class=" " >
                    In my journey to becoming a software developer I have had experience learning and working with various languages 
                    and technologies. I am constantly learning and challenging myself. So far, I have worked with <strong>C++</strong>  in 
                    University, <strong>Java</strong>  and <strong>Python</strong>  in high school, and <strong>Javascript, HTML/CSS, Node.js, Express, MongoDB and SQL on
                     my own</strong>             
                   </p>
                   
   
                   </div>
                   <div class="col-1"></div>

            
        </div>
     
    </div>
    </section>
    <section id="projects" class="-back">
    <div class="container text-center">
        <div class="row">
            <div class="col header-text">
                    <h2>Projects</h2>
            </div>
        </div>
      
        
        <div class="row">
            <div class="col-xl-4 col-md-6 p-2">
                <a href="https://github.com/" class="a-project" target="_blank">
                    <div class="card cards" >
                            <!--<img src="" class="card-img-top" alt="">-->
                            <div class="card-body">
                              <h5 class="card-title">BrilliantCare</h5>
                              <p class="card-text">
                                  Created a Web Application to help Doctors access and monitor patient information
                                   and their responses to medications. Created using 
                                  HTML/CSS, Javascript, Node.js, and Express.

                              </p>
                              <p><i class="fab fa-html5"></i><i class="fab fa-js"></i><i class="fab fa-css3"></i></p>
                            </div>
                          </div>
                    </a>
            </div>
            <div class="col-xl-4 col-md-6 p-2">
                <a href="https://github.com/" class="a-project" target="_blank">
                    <div class="card cards" >
                            <!--<img src="" class="card-img-top" alt="">-->
                            <div class="card-body">
                              <h5 class="card-title">Java Shoe Store</h5>
                              <p class="card-text">
                                  A Soccer Shoe site made entirely with Java. Uses inheritance and polymorphism, 
                                   GUI’s and event-driven programming to create a clean and functional application 
                                </p>
                                <h3><i class="fab fa-java"></i></h3>
                            </div>
                          </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 p-2">
                <a href="https://github.com/" class="a-project" target="_blank">
                    <div class="card cards" >
                            <!--<img src="" class="card-img-top" alt="">-->
                            <div class="card-body">
                              <h5 class="card-title">Personal Website</h5>
                              <p class="card-text">
                                  Created Personal Website using HTML/CSS and Javascript. Implemented a variety of features to 
                                  make website engaging and to showcase my skills and experience
                                </p>
                                <p><i class="fab fa-html5"></i><i class="fab fa-js"></i><i class="fab fa-css3"></i></p>

                            </div>
                          </div>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 p-2">
                <a href="https://github.com/" class="a-project" target="_blank">
                    <div class="card cards" >
                        <!--<img src="" class="card-img-top" alt="">-->
                        <div class="card-body">
                            <h5 class="card-title">More to come</h5>
                            <p class="card-text">I'm always working on something. Some of my future projects are to implement databases functionality
                                into websites and to explore Machine Learning through Python 
                            </p>
                            <p><i class="fab fa-python"></i>  <i class="fas fa-database">SQL</i></p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </section>
        <section id="experience">
        <!-- <section class="gray-back"> -->
            <div class="container text-center">
        <div class="row">
            <div class="col header-text">
                <h3 class="  " >Experience</h3>
            </div>
        </div>
       
        <div class="row">
            <div class="col">
                    <!-- <div class="d-md-none">
                        <p>hello</p>
                    </div> -->
                    <div id="demo" class="carousel slide mx-auto " data-ride="carousel" data-interval="false">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active"></li>
                              <li data-target="#demo" data-slide-to="1"></li>
                              <li data-target="#demo" data-slide-to="2"></li>
                              <li data-target="#demo" data-slide-to="3"></li>

                            </ul>
                            
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                    <div class="row slides">
                                            <div class="col p-4 ">
                                                  <h5 class="card-title">System Support Officer</h5>
                                    <p class="card-text">Currently Working at Office of the Public Guardian and Trustee. Provide support for employees throughout 
                                        various offices. Tasks range helping with hardware to software. Constantly problem solving and improving the efficiency of
                                        the office
                                    </p>
                                   
                                            </div>
                                            <div class="col p-4 d-none d-md-block" id="sso">
                                                <p class="">“If you wish to learn swimming you have to go into the water and if you 
                                                    wish to become a problem solver you have to solve problems.”</p>
                                               <p> - George Polya</p>
                                                  <!-- <img src="https://images.unsplash.com/photo-1484557052118-f32bd25b45b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt=""> -->
                                            </div>
                                        </div>
                              </div>
                             
                              <div class="carousel-item">
                                    <div class="row">
                                            <div class="col p-4">
                                                  <h5 class="card-title">Head Camp Counselor</h5>
                                    <p class="card-text">
                                        Ran and organized a recreational youth soccer camp for children aged 6-13 at the UOIT Fieldhouse.
                                        I planned training sessions and activities to keep children engaged and to promote their love of the sport.
                                         Had to lead the large group and 
                                        constantly problem-solve and think critically due to the wide range of ages. 
                                        
                                    </p>
                                   
                                            </div>
                                            <div class="col p-4 d-none d-md-block" id="camp">
                                                <p> “We rise by lifting others” </p>

                                                  <p>      - Robert Ingersoll</p>
                                                   
                                                  <!-- <img src="https://images.unsplash.com/photo-1543351611-58f69d7c1781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt=""> -->
                                            </div>
                                        </div>
                              </div>
                              <div class="carousel-item">
                                    <div class="row">
                                        <div class="col p-4">
                                              <h5 class="card-title">Math Council Founding Member</h5>
                                <p class="card-text">
                                   Was a founding member and leader of Math Council at my high school. Organized and led various projects in order 
                                   to improve the Math culture at our school such as a Math Extravaganza for elemntary school students.
                                    Proposed main project that would go on to be funded by Ontario. Presented our
                                   proposal to a panel of educational administrators and board members. 
                                </p>
                               
                                        </div>
                                        <div class="col p-4 d-none d-md-block" id="council">
                                            <p>  <q>If anybody wants to keep creating they have to be about change</q> </p>
                                            <p> – Miles Davis</p>
                                              <!-- <img src="https://images.unsplash.com/photo-1517409091671-180985f2ca15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt=""> -->
                                        </div>
                                    </div>
                                    
                                  <!-- <img src="https://images.unsplash.com/photo-1481741494207-a1fedfc6b2a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Chicago" width="1100" height="500"> -->
                                </div>
                              <div class="carousel-item">
                                    <div class="row">
                                        <div class="col p-4 ">
                                              <h5 class="card-title">Math Tutor</h5>
                                <p class="card-text">
                                    Helped a variety of students with ranging levels of ability to succeed in their high school math courses
                                    Was able to explain and communicate my understadning of the subject in an engaging and positive manner.
                                    Used different techniques to fit each students differing styles of learning
                                </p>
                                <!-- <img src="" alt=""> -->
                               
                                        </div>
                                        <div class="col p-4 d-none d-md-block" id="tutor">
                                            <p> <q>Education Is Not the Learning of Facts, But the Training of the Mind To Think</q>   </p> 
                                            <p class="ml-auto">
                                                   - Albert Einstein</p>
                                              <!-- <img src="https://images.unsplash.com/photo-1516962215378-7fa2e137ae93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt=""> -->
                                        </div>
                                    </div>
                                    
                                  <!-- <img src="https://images.unsplash.com/photo-1481741494207-a1fedfc6b2a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Chicago" width="1100" height="500"> -->
                                </div>
                            </div>
                            
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <span  class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
             </div>
        </div>
    </div>
        
    <!-- </section> -->
    </div>
    </section>
    <section id="extra" class="-back ">
    <div class="container-fluid text-center ">
        <div class="row">
            <div class="col header-text">
                    <h2>Soccer</h2>
            </div>
        

        </div>
        <div class="row ">
            <div class="col">
                <div class="video">
                    <iframe width="350" height="250" src="https://www.youtube.com/embed/VGNurIqMNok" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                </div>
            
                    
                    <p class="">
                        Soccer is one of my life-long passions. I've been playing since I was four years old and I am currently a part 
                        of the Waterloo Warriors Mens Soccer Team. Some of my best qualities are my dedication, hard work and technical
                         ablility. Throughout high school I played at least five times a week while balancing schoolwork and other 
                         extra-curriculars. As s result, I became a very skillful and clever soccer player. 
                    </p>
                    <!-- <img src="soccer-santi.jpg"  class=" mx-auto"  alt="Avatar"> -->
                    <!-- <img src="/images/2018/8/23/Aguilar_S.jpg?width=400&height=400&mode=crop&anchor=topcenter" alt=""> -->
                    <p> Check out my Youtube Channel or my  soccer profile </p>
                    <a class="" target="_blank" href="https://www.youtube.com/watch?v=VGNurIqMNok&t=1s">
                        <i class="fab fa-youtube icons px-1"></i>
                    </a>
                    <a href="https://docs.google.com/document/d/1O5RcZXj6sIrl_NoJw8SR_trngwF2ca4uaiYo1TALheE/edit?usp=sharing" target="_blank">
                            <i class="fas fa-futbol icons px-1"></i>
                    </a>
            </div>
        </div>
        
        
        
    </section>
    <section id="connect" class="-back">
    <div class="container text-center mb-5">
            <div class="row">
                <div class="col">
                        <h2>How to connect with me?</h2>
    
                </div>
            </div>
            <div class="row ">
                <div class="col text-center icons">
                    <a href="https://github.com/santiagoaguilar12" target="_blank">
                            <i class="fab fa-linkedin icons"></i>
                    </a>
                    <a href="mailto:s2aguila@edu.uwaterloo.ca">
                            <i class="fas fa-at icons"></i>
                    </a>
                    <a href="https://github.com/santiagoaguilar12" target="_blank">
                        <i class="fab fa-github icons"></i>
                    </a>
                    
                    <a href="//resume">
                        <i class="far fa-file-alt icons"></i>
                    </a>
                        
                        
                        
    
                </div>
            </div>
        </div>
    </section>
   
    
    <script src="/js/jquery_scripts.js"></script>
    </body>
</html>